@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Brittany';
  src: url('/fonts/BrittanySignature.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@theme {
  --font-brittany: 'Brittany', cursive, sans-serif;
}

html {
  overflow-y: scroll;
}
